<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
    <form name="myForm" action="mailto:cunningham.shane@hotmail.com" onsubmit="return validateForm()" method="post">
  <table width="500" border="0" cellspacing="0" cellpadding="0" class="tbl_bg">
 <tr>
    <td valign="top" class="altalt" >&nbsp;</td>
 	<td colspan="2" valign="top" class="altalt"><h1>Contact Us</h1>
 	  </td>
   </tr>
   <tr>
 	<td width="150" valign="top"><p>Full Name:</p></td>
 	<td width="350" valign="top" class="lft_bdr"><p>
 	  <input name="fname" type="text" class="input">
 	</p></td>
   </tr>
   <tr>
 	<td valign="top" class="alt"><p>Address:</p></td>
 	<td valign="top" class="alt lft_bdr"><p>
 	  <input name="address" type="text" class="input">
 	</p></td>
   </tr>
   <tr>
 	<td valign="top"><p>Phone:</p></td>
 	<td valign="top" class="lft_bdr"><p>
 	  <input name="phone" type="text" class="input">
 	</p></td>
   </tr>
   <tr>
 	<td valign="top" class="alt"><p>Email:</p></td>
 	<td valign="top" class="alt lft_bdr"><p>
 	  <input name="email" type="text" class="input">
 	</p></td>
   </tr>
   <tr>
 	<td valign="top"><p>Message:</p></td>
 	<td valign="top" class="lft_bdr"><p>
 	  <textarea name="message"></textarea>
 	</p></td>
   </tr>
   <tr>
 	<td valign="top" class="alt" >&nbsp;</td>
 	<td valign="top" ><p class="alt">
 	  <input type="submit" name="Submit" value="Send">
 	</p></td>
   </tr>
 </table>
 </form>
  </body>
</html>