
    <h1>Welcome to my Camera Store!</h1>
    <p>
      All the best brands at low prices!! You will find Sony, Kodak, Canon, Pentax and many more!!
To view our stock, click through to our product catalogue!
The Camera Store offers a wide selection of Digital Cameras, Digital SLRs, DSLRs, Compact Cameras, Web Cams, Camera Lenses, Lense Filters, Digital Video Camcorders, Flash Guns, AV Projectors, Camera Accessories, Camera Cleaning Kits, Camera Cases and Camera Bags
     </p>
    <p>
      <%= link_to "Register now!", '#', :class => "register_button round" %>
    </p>
